<template>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/pages">Pages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/news">News</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/leads">Leads</a>
      </li>


    </ul>

  </div>
</nav>



</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
