<template>
    <div class="col-md-4">
        <div class="contact-item mb-sm30">
            <span class="icon"><i v-bind:class="getClass()"></i></span>
            <div class="cont">
                <h6>{{ title }} </h6>
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        props: ['title', 'content', 'icon'],
        methods: {
            getClass(){
                return 'mdi mdi-'+this.icon;
            }
        }
        
    }
</script>