
    <template><div class="container mt-50">
            <div class="row">
                <div class="col-lg-6 caption valign">
                    <div>
                        <h1>With Knowledge, Passion, Heart &amp; Soul Agencies.</h1>
                        <p>Nulla metus vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                        <a href="#0" class="butn butn-bg">
                            <span>Get Started</span>
                        </a>
                        <a href="#0" class="butn butn-bord">
                            <span>Learn More</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="home-img">
                        <img src="images/4.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        </template>
        <script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        
    }
</script>
