<template>
    <div class="container">
            <img src="images/logo-dark.png"/>
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li v-if="loggedin==false"><a href="register">Register</a></li>
                <li v-if="loggedin==false"><a href="login">Login</a></li>
                <li v-if="loggedin"><a href="signout">Log out</a></li>

                <li><a href="/landing">Landing</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        props: ['loggedin']
    }
</script>
