<template>
    <div class="col-md-4">
        <div class="page-preview-col">
            <div class="image-wrapper">
                <div class="news-image" v-bind:style="{backgroundImage: 'url(' + image + ')'}"></div>
            </div>
            <h5>{{ title }}</h5>
            <p>{{ description }}</p>
        </div>
    </div>
    
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        props: ['title', 'description', 'image'],
        
    }
</script>