<template>
    <div class="page-preview">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img v-bind:src="image" class="responsive-image" />
                </div>
                <div class="col-md-7" >
                    <h4>{{ title}}</h4>
                    <p>{{description}}</p>
                    
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        props: ['title', 'description', 'image']
    }
</script>