// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";
ul.navbar {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navbar li {
    float: left;
    color: $nav-text-color;
    height: 40px;
}

ul.navbar li a {
    color: $nav-text-color;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    line-height: 40px;
    font-weight: bold;
}

ul.navbar li a:hover {
    text-decoration: none;
    border-bottom: 2px solid $accent;
}

.responsive-image {
    width: 100%;
    height: auto;
}

h4 {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0;
    color: $nav-text-color;
}

p {
    font-size: 16px;
    font-weight: 300;
    margin: 15px 0;
}

.separator-100 {
    height: 100px;
}

.separator-30 {
    height: 30px;
}

h6 {
    color: $accent;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 12px;
}

.page-preview-col {
    background: white;
    padding: 10px;
    text-align: center;
}

.page-preview-col img {
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.page-preview-col h5 {
    font-weight: 700;
    color: $nav-text-color;
}

ul.admin-menu {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.admin-menu li {
    display: block;
    height: 30px;
    line-height: 30px;
}

ul.admin-menu li a {
    background: $accent;
    color: white;
    display: block;
    padding: 4px;
}

ul.admin-menu li a:hover {
    background: white;
    color: $accent;
    text-decoration: none;
}

a.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: orangered;
    font-family: cursive;
    font-weight: 700;
}

nav.main-navigation {
    position: relative;
}

nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
}

.nav-list li.nav-list-item {
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
    margin-top: 15px;
}

a.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #404040;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav-list li {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
    animation-delay: .3s;
}

.nav-list li:nth-child(2) {
    animation-delay: .6s;
}

.nav-list li:nth-child(3) {
    animation-delay: .9s;
}

.nav-list li:nth-child(4) {
    animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
    animation-delay: 1.5s;
}


/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


.image-wrapper{
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.news-image{
    height: 200px;
    width: 100%;
    background-size: cover;
    margin-bottom: 5px;
    background-position: center center;
    transition: all 0.4s;
    overflow: hidden;
}

.news-image:hover{
    transform: scale(1.1, 1.1);
}


.contact-container{
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-item {
    padding: 30px;
    border: 1px solid #eee;
    height: 100%;
}

.contact-item .icon {
    float: left;
    font-size: 25px;
    color: $accent;
}

.contact-item .cont {
    margin-left: 50px;
}

.contact-item .cont h6 {
    font-size: 14px;
    margin-bottom: 5px;
}

.contact-item .cont p {
    font-size: 13px;
}

.hvector2 {
    min-height: 100vh !important;
    background-color: #F0F8FF;
}
.header2 {
    min-height: 100vh;
    position: relative;
}
.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form {
    padding: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.mb-80 {
    margin-bottom: 80px !important;
}

.form input, .form textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 10px;
}

.header2 .caption .butn {
    margin-top: 15px;
}
.butn:hover {
    -webkit-box-shadow: rgba(82, 104, 219, 0.57) 0px 9px 20px -5px;
    box-shadow: rgba(82, 104, 219, 0.57) 0px 9px 20px -5px;
}
.butn-bg {
    background: #1dabf2;
    -webkit-box-shadow: 0px 10px 30px rgba(5, 20, 65, 0.1);
    box-shadow: 0px 10px 30px rgba(5, 20, 65, 0.1);
    color: #fff;
}
.butn {
    padding: 15px 35px;
    
    border-radius: 5px;
    position: relative;
    z-index: 3;
    border: 1px solid transparent;
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    outline: none !important;
    overflow: hidden;
}

.butn-bg span {
    color: #fff;
}
.butn span {
    font-weight: 700;
    font-size: 13px;
    
    text-transform: uppercase;
    letter-spacing: .5px;
    position: relative;
    z-index: 2;
}
span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.home-img img {
    width: 100%;
    height: auto;
}


.blog .item {
    background-color: #fff;
    -webkit-box-shadow: 0px 15px 40px rgba(5, 20, 65, 0.05);
    box-shadow: 0px 15px 40px rgba(5, 20, 65, 0.05);
    padding: 15px;
    margin-bottom: 15px;
}

.blog .item .post-img {
    overflow: hidden;
}

.blog .item .post-img:hover .img {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.blog .item .post-img .img {
    -webkit-transition: all .4s;
    transition: all .4s;
}

.blog .item .cont {
    text-align: center;
    padding: 30px 0 15px;
}

.blog .item .cont h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 10px;
}

.blog .item .more {
    display: none;
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
}

.blog .item .more:hover {
    color: #1dabf2;
}

.blog .item .more:hover i {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.blog .item .more i {
    font-size: 10px;
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
